<div class="register-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="ml-auto col-md-5">
                    <div class="info-area info-horizontal">
                        <div class="icon icon-warning"><i class="tim-icons icon-wifi"></i></div>
                        <div class="description">
                            <h3 class="info-title">Marketing</h3>
                            <p class="description">We've created the marketing campaign of the website. It was a very interesting collaboration.</p>
                        </div>
                    </div>
                    <div class="info-area info-horizontal">
                        <div class="icon icon-primary"><i class="tim-icons icon-triangle-right-17"></i></div>
                        <div class="description">
                            <h3 class="info-title">Fully Coded in HTML5</h3>
                            <p class="description">We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.</p>
                        </div>
                    </div>
                    <div class="info-area info-horizontal">
                        <div class="icon icon-info"><i class="tim-icons icon-trophy"></i></div>
                        <div class="description">
                            <h3 class="info-title">Built Audience</h3>
                            <p class="description">There is also a Fully Customizable CMS Admin Dashboard for this product.</p>
                        </div>
                    </div>
                </div>
                <div class="mr-auto col-md-7">
                    <div class="card-register card-white card">
                        <div class="card-header">
                            <img alt="..." src="/assets/img/card-primary.png" class="card-img" style="max-height: 100px;">
                            <h4 class="card-title">Register</h4>
                        </div>
                        <div class="card-body">
                            <form class="form">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="tim-icons icon-single-02"></i></span>
                                    </div>
                                    <input placeholder="Full Name" type="text" class="form-control">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="tim-icons icon-email-85"></i></span>
                                    </div>
                                    <input placeholder="Email" type="text" class="form-control">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                                    </div>
                                    <input placeholder="Password" type="text" class="form-control">
                                </div>
                                <div class="text-left form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                            <span class="form-check-sign"></span>I agree to the <a href="#pablo">terms and conditions</a>.
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer"><a href="#pablo" class="btn-round btn btn-primary btn-lg">Get Started</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>